body {
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    font-family: 'Roboto', 'Sans-serif';
    background-color: #E5E7EB;
}

.main {
    padding: 16px 84px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
    gap: 52px;
    margin-top: 72px;
}

.main .project {
    width: 350px;
}

a.githubLink:hover {
    opacity: 0.6;
}

li img {
    max-width: 300px;   
}

@media only screen and (max-width: 600px) {
    .main {
        padding: 16px;
        justify-content: center;
        margin-top: 100px;
    }

    h1 {
        text-align: center;
    }

    .project {
        width: 320px;
    }
}