@import url("https://fonts.googleapis.com/css?family=Roboto:100");
@import url("https://fonts.googleapis.com/css?family=Anonymous+Pro");

:root {
  --html-color: linear-gradient(160deg, #0093E9 0%, #80D0C7 100%);
}

html {
    display: block;
    margin-left: 0px;
    margin-right: 0px;
    padding: 0%;
    padding-top: 2%;
    overflow-x: hidden;
}

body {
    background-color: rgb(25, 25, 25);
    margin-left: 0;
    margin-right: 0;
    width: 100%;
    height: 100%;
}

#navbar {
    overflow: hidden;
    position: fixed; 
    background: rgba(0, 0, 0, 0.39);
    width: 100%;
    z-index: 2;

}

#navlist {
    display: flex;
    justify-content: center;
    list-style-type: none;
    background-color: transparent;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    align-items: center;
}

#navlist li {
    flex: 0 1 auto;
    margin: 10px;
}

.navlink {
    border: 2px solid currentColor;
    border-radius: 3rem;
    display: block;
    color: yellow;
    text-align: center;
    font-size: 65%;
    font-weight: bolder;
    text-decoration: none;
    padding: 10px;
    transition: .2s transform ease-in-out;
    animation: shake 0.82s infinite cubic-bezier(.36, .07, .19, .97) both;
    will-change: transform;
    z-index: 0;
}

.navlink:hover {
    background: linear-gradient(to top, #c471f5 0%, #fa71cd 100%);
    color: white;
    transform: translate(0, 0, 0, 0);
    transform-origin: top left;
    transition: .2s transform ease-out;
    will-change: transform;
    animation: none;
    backface-visibility: hidden;
    perspective: 1000px;
}

#home {
    margin-top: -80px;
    height: 800px;
    width: 100%;
    animation: changeBg 100s infinite ease-out;
    animation-delay: 5s;
    transition: opacity 1s;
    transition-delay: 5s;
}

.line-1 {
    font-family: Anonymous Pro, cursive;
    font-weight: bold;
    font-size: 45px;
    color: beige;
    margin-bottom: 0;
    padding-left: 15%;
    padding-right: auto;
    position: relative;
    top: 50%;  
    width: 70%;
    text-align: center;
    white-space: nowrap;
    overflow: hidden; 
}

.anim-typewriter{
    animation: typewriter 4s steps(44) 1s infinite normal both,
               blinkTextCursor 500ms steps(44) infinite normal;
  }
  @keyframes typewriter{
    from{width: 0em;}
    to{width: 14em;}
  }
  @keyframes blinkTextCursor{
    from{border-right-color: rgba(255,255,255,.75);}
    to{border-right-color: transparent;}
  }

h2 {
    text-align: center;
}

#home h3 {
    position: relative;
    animation-name: colorChange;
    animation-duration: 5s;
    animation-delay: 2s;
    animation-iteration-count: infinite;
    animation-direction: alternate-reverse;
    animation-timing-function: ease;
    animation-fill-mode: both;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    border-radius: 12px;
    padding-top: 5px;
    padding-bottom: 10px;
}

#author {
    width: 35%;
    max-width: 300px;
    padding: 0;
    border-radius: 15%;
    box-shadow: 0 12px 25px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#author_bio {
    display: flex;
    flex-direction: column;
}

#author_bio figure, #description {
    flex: 1;
}

#about {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: antiquewhite;
    background: linear-gradient(112.1deg, rgb(32, 38, 57) 11.4%, rgb(63, 76, 119) 70.2%);
    width: 100%;
    margin: 0;
    padding-top: 15px;
    padding-left: 0;
}

#about h1 {
    text-align: center;
    text-decoration: underline;
    margin-bottom: 3px;
    font-size: 24px;
    color: white;
}

#about p {
    text-align: justify;
    margin-top: 0;
    padding-left: 5%;
    padding-right: 5%;
}

#about a {
    text-decoration: none;
    color: darkorange;
    font-size: 18px;
}

#about a:hover {
    color: yellow;
}

#quote {
    font-family: Andale Mono, monospace;
    text-align: center;
    color: gold;
}

figure {
    margin-right: 0;
    padding-right: 0;
    z-index: 1;
}

#education {
    background-color: gray;
    color: white;
    padding-top: 2px;
    padding-bottom: 5px;
}

.skills {
    width: 100%;
    padding-bottom: 10px;
    padding: auto;
    margin: auto;
    max-width: 500px;
}

.skill-header {
    font-size: 20px;
}

.sk-container {
    text-align: left;
    text-indent: 7px;
    padding: auto;
    margin: 10px auto 5px auto;
    width: 80%;
    border-radius: 10px;
    background-color: aliceblue;
}

.sk-level {
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, 
    rgba(9,9,121,1) 27%, rgba(0,212,255,1) 100%);
    border-radius: 10px;
}

.html {width: 60%;}
.css {width: 40%;}
.javascript {width: 30%;}
.cpp {width: 25%;}
.python {width: 45%;}
.git {width: 45%;}
.github {width: 55%;}
.vs_code {width: 70%;}
.english {width: 95%;}
.french {width: 85%;}
.chinese {width: 60%;}
.spanish {width: 40%;}

.certifications {
    display: grid;
    place-items: center;
    width: 100%;
    margin-bottom: 0;
    background-image: linear-gradient(160deg, #0093E9 0%, #80D0C7 100%);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#projects {
    margin-left: 10%;
    margin-right: 10%;
}

.project {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: baseline;
    text-align: center;
    margin: 0 auto;
    padding: 20px 20px;
  }
  
  .project img {
    flex: 1;
    width: 100%;
    max-width: 400px;
    height: auto;
    object-fit: contain;
    border-radius: 10px;
  }
  
  .project::after {
    content: "";
    width: 350px;
  }

.grid-item {
    display: flex;
    width: 100%;
    padding-bottom: 30px;
    flex-direction: column;
    
}

.grid-item img {
    width: 65%;
    max-width: 600px;
    height: auto;
    flex: 1;
} 

footer {
    width: 100%;
}

#contact {
    margin: 0px;
    width: 100%;
    padding: 5px;
    margin-bottom: -10px;
    background-image: linear-gradient(90deg, #00DBDE 0%, #FC00FF 100%);
}

#icons-container {
    display: flex;
    justify-content: center;
}

#contact li {
    display: inline;
}

.fa {
    padding: 6px;
    text-align: center;
    text-decoration: none;
    border-radius: 50%;
    margin: 5px;
}

.fa:hover {
    opacity: 0.7;
}

.fa-facebook {
    background: transparent;
    color: #285AEB;
}

.fa-twitter {
    background: transparent;
    color: #00DBDE;
}

.fa-linkedin-square {
    background-color: white;
    border-radius: 8px;
    color:  #0A66C2;
    padding: 4px;
    padding-bottom: 2px;
    padding-top: 2px;
}

.fa-instagram {
    background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
  -webkit-background-clip: text;
          background-clip: text;
  -webkit-text-fill-color: transparent;
}

.fa-github-square {
    background-color: transparent;
    color: black;
}

@media only screen and (min-width: 768px) {
    #description {
        padding: 20px 90px 0px 0px;
        font-size: 22px;
    } 
    
    #about ul {
        padding-left: 10%;
        padding-right: 10%;
        font-size: 22px;
    }

    #author_bio div {
        display: inline-flex;
        place-items: center;
    }
}

@media only screen and (max-width: 600px) {
    #navlist {
        margin-top: 45px;
        margin-bottom: 5px;
        padding-left: 5px;
    }

    .line-1 {
        font-size: 25px;
    }    

    .about p {
        font-size: 8px;
    }
}

@keyframes shake {
    10%,
    90% {
      transform: translate3d(-1px, 0, 0);
    }
    20%,
    80% {
      transform: translate3d(2px, 0, 0);
    }
    30%,
    50%,
    70% {
      transform: translate3d(-4px, 0, 0);
    }
    40%,
    60% {
      transform: translate3d(4px, 0, 0);
    }
  }

@keyframes slide {
    from{left: 0%;}
    to{left: 5%}
}

@keyframes changeBg {
    0%,
    15% {
        background-image: url("./page_img/bc/i0.jpg");
        background-repeat: no-repeat;
        background-size: cover;
    }
    15%,
    30% {
        background-image: url("./page_img/bc/i1.jpg");
        background-repeat: no-repeat;
        background-size: cover;
    }
    30%,
    45% {
        background-image: url("./page_img/bc/i2.jpg");
        background-repeat: no-repeat;
        background-size: cover;
    }
    45%,
    65% {
        background-image: url("./page_img/bc/i3.jpg");
        background-repeat: no-repeat;
        background-size: cover;
    }
    65%,
    80% {
        background-image: url("./page_img/bc/i4.jpg");
        background-repeat: no-repeat;
        background-size: cover;
    }
    80%,
    100% {
        background-image: url("./page_img/bc/i5.jpg");
        background-repeat: no-repeat;
        background-size: cover;
    }
}
