@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap");

:root {
  --main-color: orange;
}

body {
  margin: 0;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: "Playfair Display", Roboto, "Poppins", sans-serif;
  background-color: var(--main-color);
  gap: 1.5rem;
}

header {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  justify-items: center;
  text-align: justify;
}

.about-me {
  max-width: 450px;
  background-color: white;
  padding: 1rem;
  justify-self: left;
}

.main {
  background-color: white;
}

.header-img {
  height: 320px;
  min-width: 300px;
  color: white;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: end;
}

.name {
  background-color: rgba(120, 120, 120, 0.8);
  width: 100%;
  transition:
    background-color 1s ease-out 0.25s,
    color 1s ease-out 0.25s;
}

.name:hover {
  background-color: darkgray;
  color: black;
}

header > .header-img,
header > .about-me {
  box-shadow: 4px 2px 2px gray;
}

main {
  display: grid;
  padding: 1rem;
  margin: auto 2rem;
  grid-template-columns: repeat(auto-fit, minmax(270px, 1fr));
  gap: 1.5rem;
}

.project-image {
  grid-area: image;
}

.project-wrapper h3 {
  grid-area: title;
}

.logo.github {
  grid-area: logo-github;
}

.logo.open {
  grid-area: logo-open;
}

.project-wrapper p {
  grid-area: description;
}

.project-wrapper {
  background-color: white;
  display: flex;
  flex-direction: column;
}

.project-info-wrapper {
  display: grid;
  align-items: center;
  padding: 1rem;
  grid-template-columns: 1fr 1fr 50px 50px;
  grid-template-rows: repeat(auto-fit, 1fr);
  grid-template-areas:
    "title title logo-github logo-open"
    "description description description description";
}

img {
  object-fit: scale-down;
  width: 100%;
  height: 100%;
}

ion-icon {
  font-size: 1.5rem;
  color: black;
  transition:
    color 25ms ease-out 25ms,
    transform 25ms ease-out 25ms;
}

ion-icon:hover {
  color: #318ce7;
  transform: scale(1.4);
}
