@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap");

:root {
  --main-color: #080b12;
}

body {
  margin: 0;
  padding: 0;
  padding-top: 1.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: "Playfair Display", Roboto, "Poppins", sans-serif;
  background-color: var(--main-color);
  gap: 1.5rem;
}

header {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  justify-items: center;
  text-align: justify;
}

.name {
  margin: 0;
}

.about-me {
  max-width: 500px;
  background-color: white;
  padding: 1rem;
  justify-self: left;
}

.about-me > p {
  font-family: "Roboto";
  font-weight: 300;
  font-size: 1.2rem;
}

.main {
  background-color: white;
}

.header-img {
  height: 350px;
  min-width: 300px;
  color: white;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: end;
}

.name {
  background-color: rgba(120, 120, 120, 0.8);
  width: 100%;
  transition:
    background-color 1s ease-out 0.25s,
    color 1s ease-out 0.25s;
}

.name:hover {
  background-color: darkgray;
  color: black;
}

.links-wrapper {
  display: flex;
  justify-content: end;
  gap: 1rem;
}

main {
  text-align: center;
  background-color: white;
}

header,
main,
footer {
  padding: 1rem;
  padding-left: 3rem;
  padding-right: 3rem;
}

.projects-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2.5rem;
}

.project-image {
  grid-area: image;
}

.project-wrapper h3 {
  grid-area: title;
}

.logo.github {
  grid-area: logo-github;
}

.logo.open {
  grid-area: logo-open;
}

.project-wrapper p {
  grid-area: description;
}

.project-wrapper {
  flex-basis: 280px;
  background-color: white;
  display: flex;
  flex-direction: column;
  box-shadow: 5px 5px 15px lightgray;
}

.project-info-wrapper {
  display: grid;
  height: 100%;
  align-items: center;
  padding: 1rem;
  gap: 0.8rem;
  grid-template-columns: 1fr 1fr 30px 30px;
  grid-template-rows: auto;
  grid-template-areas:
    "title title logo-github logo-open"
    "description description description description";
  transition:
    background-color 250ms ease-out 150ms,
    color 250ms ease-out 150ms;
}

.project-info-wrapper:hover {
  background-color: black;
  color: white;
}

img {
  object-fit: scale-down;
  width: 100%;
  height: 100%;
}

ion-icon {
  font-size: 1.5rem;
  color: gray;
  transition:
    color 25ms ease-out 25ms,
    transform 25ms ease-out 25ms;
}

.about-me ion-icon {
  color: black;
}

ion-icon:hover {
  color: #318ce7;
  transform: scale(1.4);
}

footer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;
  color: white;
}

footer > img {
  max-height: 350px;
  width: auto;
}

.contact-info {
  display: flex;
  gap: 1rem;
  align-items: center;
}

footer .links-wrapper {
  justify-content: center;
  transform: scale(1.4);
}
